*.sw[nop]
*.py[co]
*~
*.log
.DS_Store
.project
.settings
results/
mochawesome-report/
TAGS
config.json
.localImplementationsConfig.cjs
.vscode
node_modules/
package-lock.json
*.vswp
config.json
reports/**
!.gitkeep
